.side-bar
  .side-bar__header
    .side-bar__header__box
      %p.side-bar__header__box__name-box
        = current_user.name
      %ul.side-bar__header__box__menu-box
        %li.side-bar__header__box__menu-box__edit-box
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side-bar__header__box__menu-box__giar-box
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__group-name
            = group.name
          .group__latest-message
            メッセージはまだありません。